:root {
        --matrix-green: #00ff00;
        --matrix-dark: #003300;
        --matrix-glow: #39ff14;
}

* {
        box-sizing: border-box;
        padding: 0;
        margin: 0;

}

body {
        background-color: black;
        font-size: 120px;
}

#map {
        width: 100%;
        height:100vh;
        position:relative;
}

.maplibregl-ctrl-attrib {
        display: none;
}

input[type="checkbox"] {
        accent-color: #00ff00;
        background-color: #003300;
}

.colorDot:after {
        content: "●";
        font-size: .7rem;
        margin-left: .3rem;
     	bottom: .4rem;
}

input[type="checkbox"] {
        appearance: none;
        position: relative;
        width: 1rem;
        height: 1rem;
        border: 1px solid;
        background: black;
}

input[type="checkbox"]::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        white-space: pre;
}

input[type="checkbox"]:checked::before {
        content: "✔";
}

#checkbox-container {
        border: var(--matrix-green) 2px solid;
        color: var(--matrix-green);
        padding: 2rem;
        max-width: 400px;
        max-height: 550px;
        min-width: 400px;
        min-height: 550px;
        margin: 35px;
}

.crime-wrapper {
        border: var(--matrix-green) 1px solid;
        color: var(--matrix-green);
	max-height:72px;
	margin-bottom: 1rem;
    word-wrap: break-word;
}

/* Label styling */
label[for="dateInput"] {
        font-family: 'Courier New', monospace;
        color: green;
        /*text-shadow: 0 0 5px var(--matrix-glow);*/
        font-size: 1.2rem;
}

/* Input field styling */
#dateInput {
        background-color: black;
        border: 1px solid var(--matrix-green);
        color: var(--matrix-green);
        font-family: 'Courier New', monospace;
        padding: 8px;
        /*box-shadow: 0 0 10px var(--matrix-glow);*/
}


/* Button styling */
button {
        background-color: rgba(255, 255, 255, 0);
        color: var(--matrix-green);
        border: 1px solid var(--matrix-green);
        font-family: 'Courier New', monospace;
        padding: 8px 16px;
        cursor: pointer;
        text-transform: uppercase;
        transition: all 0.3s ease;
}

button:hover,
button:focus {
        background-color: var(--matrix-green);
        color: black;
        box-shadow: 0 0 15px var(--matrix-glow);
}

/* Focus states */
#dateInput:focus,
#btn:focus {
        outline: none;
        border-color: var(--matrix-glow);
        box-shadow: 0 0 15px var(--matrix-glow);
}

.main-container {
        width: 100%;
        overflow-y: scroll;
        height:100vh;
        overflow: hidden;
        scroll-snap-type: y mandatory;
}

.date-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height:100vh;
        width:100%;
}

.inner-date-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        text-align: center;
}

#dateInput {
        margin-top: .5rem;
        margin-bottom: .5rem;

}
.filter-options-btn{
    position:absolute;
    z-index:999;
    bottom: 20px;
    left:20px;

}


/*
.filter-options-btn {
        display: none;
}
*/
.icon-link-container {
        position: absolute;
        z-index: 1;
        bottom: 20px;
        right: 20px;
        display:flex;
        flex-direction:column;
}

.icon-link {
        display: block;
        font-size: 25px;

        color: var(--matrix-green);
}

.icon-link:nth-child(2) {
        margin-left: .1rem;
        margin-top: .3rem;
}



.inner-container {
        display: flex;
        width: 100%;
        flex-direction: column;
}

.crime-count-container {
        margin-top: 1.7rem;
        margin-left: 1rem;
        color: green;
        font-size: 1rem;
}

.crime-count {
        color: red;
        font-size: 1.5rem;
}

.filter-btn-type {
        margin-left: 1rem;

}

.urlWrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
}

.url {
        color: orange;
        font-size: 25px;
        text-decoration: none;
}

.url-span {
        font-size: 22px;
        color: red;
}

.url:hover {
        color: cyan;
}

.filter-btn-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 400px;
        width: 70%;
}

.filter-btn-container h3 {
        color: green;
        font-size: 1.5rem;
        width: 100%;
        margin-bottom: 1rem;
        /*text-shadow: 0 0 5px var(--matrix-glow);*/
}
.search-bar {
	border: var(--matrix-green) 1px solid;
  	color: var(--matrix-green);
	background-color:black;
	font-size: 1rem;
	padding: .2rem;
	max-height:30px;
	margin-bottom:1rem;
}
.search-bar:focus {
	border: none;
	outline: 1px solid orange;
}
.searchBar::placeholder {
	font-size:.8rem;
}
@media (max-width: 600px) {

    #shortcut2{
        position:static;
    }
    .icon-link-container{
        position:static;
        display:flex;
        flex-direction:row;
        margin:.5rem;
    }
    .icon-link:nth-child(2){
        margin-left:.5rem;
        margin-top:0;
    }
    #checkbox-container {
        border-top:none;
        border-left:none;
        border-right:none;
        font-size:1rem;
        min-width: 0;
        min-height: 0;

        }

   .main-container {
        overflow:scroll;

   }
}
